<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('../components/header') %>
  <%- typeof style !== 'undefined' ? style : '' %>
</head>
<body class="bg-light">
  <%- body %>
  
  <%- include('../components/scripts') %>
  <%- typeof script !== 'undefined' ? script : '' %>
</body>
</html>
