<%- contentFor('script') %>
<!-- Importar CSS específico do módulo -->
<link rel="stylesheet" href="/views/testimonials/css/testimonials.css">
<!-- Importar script específico do módulo -->
<script src="/views/testimonials/js/testimonials.js"></script>

<%- contentFor('body') %>

<div class="d-flex justify-content-end mb-4">
  <button type="button" id="newTestimonialBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testimonialFormModal">
    <i class="bi bi-plus-circle me-1"></i> Novo Depoimento
  </button>
</div>

<!-- Incluir componente de filtros -->
<%- include('./components/testimonialFilters') %>

<!-- Incluir componente de listagem de depoimentos -->
<%- include('./components/testimonialList') %>
<!-- Incluir o modal de formulário de depoimentos -->
<%- include("./components/testimonialFormModal") %>
